
.section{
	padding:0px;
}
.divider{
	width:300px;
	margin-top: 0px;
	margin-bottom:20px;
}
#iWishIWasWhite{
	color:white;
}

.divider {
	margin-top: 0px !important;
}

#myDiv{
	background-color:white;
}

.specialLink{
	text-decoration: none;
	color:white;
	transition: all .2s ease;
}
.specialLink:hover{
	cursor: pointer;
	color:#1ABD5F;
}
